.oreo-body {
  .empty-container{
    background-color: #8c99e0;
    height: 103px;
  .body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8c99e0;
    padding: 8px 15px;

    .header-one {
      .title {
        color: #ffffff;
      }
    }
    .header-two {
      display: flex;
      align-items: center;
      background-color: #afb8ea;
      border-radius: 30px;
      padding: 8px;
      .home-icon {
        color: #ffffff;
      }
      .body-header-link {
        color: #ffffff;
      }
    }
  }
}
  .body-content {
    display: flex;
    justify-content: center;
    margin-top: -47px;
    // .empty-container {
    //   position: relative;
    //   z-index: 20;
    // }
    .all-products {
      margin: 0;
      width: calc(98% + 16px);
      // padding: 10px;
      // background-color: #f4f6f9 !important;
      // position: relative;
      //   z-index: 30;

      .each-product {
        // padding: 10px;
        // background-color: #ffffff;
        // margin:10px;
        
        .product-image {
          .img-description {
            width: 99%;
          }
        }
        .product-details {
          display: flex;
          align-items: center;
          flex-direction: column;
          .product-price {
            width: 40%;
            display: flex;
            justify-content: space-between;
            // margin: 0 0 15px 0;
            .actual-price {
              color: #7c889d;
            }
            .discounted-price {
              color: red;
            }
          }
        }
      }
    }
  }
}
